body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: black;
    color: green;
}

#terminal {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border: 1px solid green;
    width: 80%;
    max-width: 600px;
    height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.input-line {
    display: flex;
    align-items: center;
}

.prompt {
    margin-right: 5px;
}

#input {
    border: none;
    background: none;
    color: green;
    outline: none;
    width: 100%;
}

#output {
    margin-bottom: 10px;
}

/* Custom scrollbar styling */
#terminal::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
}

#terminal::-webkit-scrollbar-track {
    background: #000; /* The track of the scrollbar */
}

#terminal::-webkit-scrollbar-thumb {
    background-color: #0f0; /* The scroll handle */
    border-radius: 6px;
    border: 3px solid #000; /* Creates padding around the scroll handle */
}

/* For other browsers like Firefox */
#terminal {
    scrollbar-width: thin; /* 'none' or 'thin' */
    scrollbar-color: #0f0 #000; /* thumb and track color */
}
